font-size = 18px

doc-font()
  font-family 'Open Sans', serif
  font-weight 300
  font-size font-size

// gist.github.com/d3vron/1080346
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

flex-flow()
  vendor('flex-flow', arguments)

flex()
  vendor('flex', arguments)

align-items()
  vendor('align-items', arguments)

align-self()
  vendor('align-self', arguments)

gradient()
  vendor('gradient', arguments)

border-image()
  vendor('border-image', arguments)

*
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  font-weight 300

html, body
  doc-font()
  height 100%
  min-height 100%

button, input[type=submit]
  doc-font()
  cursor pointer
  display inline-block
  border none
  background-color #aaaa
  padding 6px
  
#container
  height 100%
  
#flex-container
  display -webkit-flex
  flex-flow row wrap
  align-items stretch

  min-height 100%

#header
  background-color red
  width 100%

#left-content
  background-color blue
  flex 2 0
  
  padding 1rem

.song-thumbs
  display -webkit-flex
  flex-flow row wrap

  .song-thumb
    margin 1rem
    padding 1rem
    
    flex 0 auto
    position relative
    
    .queue-song
      cursor pointer
      position absolute
      top 0
      right 0
    
    .remove-song
      cursor pointer
      position absolute
      top 0
      left 0

.song-queue
  .song-queued
    position relative

    vertical-align middle
    white-space nowrap
    
    h5
      color #222
    
    .remove-song
      cursor pointer
      
      height 100%

#right-content
  background-color green
  flex 1 0
  
  padding 1rem