<div class="song-queued" id="{{_id}}">
  <div class="queued-left">
    <img class="queued-art" src="{{artPath}}"/>
  </div>
  <div class="queued-right">
    <h4>{{name}}</h4>
    <h5>{{artist}}</h5>
    <i class="remove-song pe-lg pe-7s-close"></i>
  </div>
</div>
