<div class="song-thumb" id="{{_id}}">
  <h1>{{name}}</h1>
  <h2>{{artist}}</h2>
  <img src="{{artPath}}" class="art"></img>
  <i class="queue-song pe-lg pe-7s-plus"></i>
  <i class="remove-song pe-lg pe-7s-close"></i>
</div>
