<h1>Hi world</h1>
<form id="uploadForm" enctype="multipart/form-data" action="/song" method="post">
	<input type="file" name="midi" />
  <input type="file" name="art" />
	<input type="submit" value="Upload MIDI File" name="submit">
</form>
