<h1>Hi world</h1>
<form id="uploadForm" enctype="multipart/form-data" action="/song" method="post">
  <input type="text" name="name" />
  <input type="text" name="artist" />
	<input type="file" name="midi" />
  <input type="file" name="art" />
	<input type="submit" value="Upload Song" name="submit">
</form>
<div id="container">
	<div id="header">header</div>
	<div id="left-content">song list</div>
	<div id="right-content">now playing</div>
</div>
	<!-- <form id="uploadForm" enctype="multipart/form-data" action="/midi" method="post">
		<input type="file" name="midi" />
		<input type="submit" value="Upload MIDI File" name="submit">
	</form> -->