<div id="container">
  <div id="flex-container">
    <div id="left-content">
      <div id="song-thumbs-wrapper">
        {{> songThumbs}}
      </div>
    </div>
    <div id="right-content">
      <div id="now-playing-wrapper">
        <h1>Now Playing</h1>
      </div>
      <div id="song-queue-wrapper">
        {{> songQueue }}
      </div>
    </div>
  </div>
</div>
