* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
html,
body {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 18px;
  height: 100%;
  min-height: 100%;
}
button,
input[type=submit] {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: rgba(170,170,170,0.667);
  padding: 6px;
}
#container {
  height: 100%;
}
#flex-container {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  min-height: 100%;
}
#header {
  background-color: #f00;
  width: 100%;
}
#left-content {
  background-color: #00f;
  -webkit-flex: 2 0;
  -moz-flex: 2 0;
  -ms-flex: 2 0;
  -o-flex: 2 0;
  flex: 2 0;
  padding: 1rem;
}
.song-thumbs {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
}
.song-thumbs .song-thumb {
  margin: 1rem;
  padding: 1rem;
  -webkit-flex: 0 auto;
  -moz-flex: 0 auto;
  -ms-flex: 0 auto;
  -o-flex: 0 auto;
  flex: 0 auto;
  position: relative;
}
.song-thumbs .song-thumb .queue-song {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.song-thumbs .song-thumb .remove-song {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.song-queue .song-queued {
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.song-queue .song-queued .remove-song {
  cursor: pointer;
  height: 100%;
}
#right-content {
  background-color: #008000;
  -webkit-flex: 1 0;
  -moz-flex: 1 0;
  -ms-flex: 1 0;
  -o-flex: 1 0;
  flex: 1 0;
  padding: 1rem;
}
