* {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

#container {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	min-height: 100%;
}

#header {
	background-color: red;
	-webkit-flex: 1 100%;
}

#left-content {
	background-color: blue;
	-webkit-flex: 1 auto;
}

#right-content {
	background-color: green;
	-webkit-flex: 0 400px;
}